@font-face {
    font-family: "Ample";
    src: url("../fonts/Ample-Regular6_0.otf");
}

@font-face {
    font-family: "AGCRegular";
    src: url("../fonts/AGCRegular.ttf");
}

@media only screen and (min-device-width : 100px) and (max-device-width : 480px) {

    header {
        position: fixed;
        width: 100%;
        height: 90px;
        background-color: white;
        box-shadow: 5px 5px 9px #5f7279;
        justify-content: center;
        align-items: center;
        display: flex;
        right: 0px;
    }

    .header-left {
        float: left;
        position: static;
    }

    .header-right {
        float: right;
        position: static;
        margin-top: -100px;
        margin-left: 80px;
        position: static;
    }

    body,
    html {
        background-image: linear-gradient(to bottom right,
                #2ba4bf, #33ac79);
        margin: 0;
        height: 100%;
        overflow: hidden;
    }

    .content {
        justify-items: center;
        align-items: center;
    }

    .card {
        justify-items: center;
        align-items: center;
        top: 130px;
        border: 1px solid;
        width: 350px;
        margin: 20px;
        margin-left: -10px;
        height: 500px;
        box-shadow: 5px 5px 9px #5f7279;
    }

    .card-right {
        margin-left: 300px;
        margin-top: -210px;
    }

    #img-logo-s1 {
        width: 120px;
        height: 60px;
        margin: 20px;
    }

    #img-notice-s1 {
        width: 250px;
        margin-top: -20px;
    }

    #form-notice-s {
        width: 400px;
        margin-right: 200px;
        margin-top: 190px;
    }

    .label-s {
        font-size: 20px;
        color: #043c74;
        text-align: left;
        font-family: 'Ample', Ample;
        padding: 2px;
        font-weight: bold;
    }

    #input-notice {
        border-radius: 4px;
        font-size: 23px;
        width: 300px;
        height: 190px;
        padding: 2px;
    }

    #button-notice-s {
        font-size: 23px;
        align-items: center;
        text-align: center;
        background-color: #34ac58;
        border: 1px solid #34ac58;
        margin-top: 9px;
        margin-left: 110px;
        width: 100px;
        height: 47px;
        color: white;
        font-family: 'Ample', Ample;
        box-shadow: 5px 5px 9px lightblue;
    }

    #button-notice-s:hover {
        font-size: 23px;
        align-items: center;
        text-align: center;
        background-color: #d8f4ff;
        border: 1px solid #d8f4ff;
        margin-top: 9px;
        margin-left: 110px;
        width: 100px;
        height: 47px;
        color: #34ac58;
        font-family: 'Ample', Ample;
        box-shadow: 5px 5px 9px lightblue;
    }
}

@media only screen and (min-device-width : 481px) and (max-device-width : 768px) {

    header {
        position: fixed;
        width: 100%;
        height: 90px;
        background-color: white;
        box-shadow: 5px 5px 9px #5f7279;
        justify-content: center;
        display: flex;
        right: 0px;
    }

    .header-left {
        float: left;
        position: static;
        margin-top: -10px;
    }

    .header-right {
        float: right;
        position: static;
    }

    body,
    html {
        background-image: linear-gradient(to bottom right, #2ba4bf, #33ac79);
        margin: 0;
        height: 100%;
        overflow: hidden;
    }

    .card {
        justify-items: center;
        align-items: center;
        top: 130px;
        border: 1px solid;
        width: 450px;
        margin: 20px;
        margin-left: -0px;
        height: 500px;
        box-shadow: 5px 5px 9px #5f7279;
    }

    .card-right {
        margin-left: 300px;
        margin-top: -210px;
    }

    #img-logo-s1 {
        width: 130px;
        height: 60px;
        margin: 30px;
    }

    #img-notice-s1 {
        width: 250px;
        margin-right: px;
        margin-top: -10px;
    }

    #form-notice-s {
        width: 400px;
        margin-right: 250px;
        margin-top: 190px;
    }

    .label-s {
        font-size: 20px;
        color: #043c74;
        text-align: left;
        font-family: 'Ample', Ample;
        padding: 2px;
        font-weight: bold;
    }

    #input-notice {
        border-radius: 4px;
        font-size: 23px;
        width: 360px;
        height: 170px;
        padding: 2px;
    }

    #button-notice-s {
        font-size: 23px;
        align-items: center;
        text-align: center;
        background-color: #34ac58;
        border: 1px solid #34ac58;
        margin-top: 9px;
        margin-left: 130px;
        width: 100px;
        height: 47px;
        color: white;
        font-family: 'Ample', Ample;
        box-shadow: 5px 5px 9px lightblue;
    }

    #button-notice-s :hover {
        font-size: 23px;
        align-items: center;
        text-align: center;
        background-color: #d8f4ff;
        border: 1px solid #d8f4ff;
        margin-top: 9px;
        margin-left: 130px;
        width: 100px;
        height: 47px;
        color: #34ac58;
        font-family: 'Ample', Ample;
        box-shadow: 5px 5px 9px lightblue;
    }
}

@media only screen and (min-device-width : 769px) and (max-device-width : 1024px) {

    header {
        position: fixed;
        width: 100%;
        height: 90px;
        background-color: white;
        justify-items: center;
        align-items: center;
        display: flex;
        right: 0px;
    }

    .header-left {
        float: left;
        position: static;
        margin-top: -10px;
    }

    .header-right {
        float: right;
        position: static;
    }

    body,
    html {
        background-image: linear-gradient(to bottom right,
                #2ba4bf, #33ac79);
    }

    .card {
        justify-items: center;
        align-items: center;
        top: 200px;
        border: 1px solid;
        width: 700px;
        margin: 0px;
        height: 370px;
        box-shadow: 5px 5px 9px #5f7279;
    }

    .card-right {
        margin-left: 300px;
        margin-top: -210px;
    }

    #img-notice-s1 {
        width: 300px;
        margin-right: 370px;
        margin-top: 30px;
    }

    #img-logo-s1 {
        width: 130px;
        height: 60px;
        margin: 30px;
    }

    #form-notice-s {
        width: 330px;
        height: 400px;
        margin-right: 30px;
        margin-top: -50px;
    }

    .label-s {
        font-size: 23px;
        color: #043c74;
        text-align: left;
        font-family: 'Ample', Ample;
        padding: 2px;
        font-weight: bold;
    }

    #input-notice {
        border-radius: 4px;
        font-size: 23px;
        width: 350px;
        height: 170px;
        padding: 2px;
    }

    #button-notice-s {
        font-size: 23px;
        align-items: center;
        text-align: center;
        background-color: #34ac58;
        border: 1px solid #34ac58;
        margin-top: 9px;
        margin-left: 130px;
        width: 100px;
        height: 47px;
        color: white;
        font-family: 'Ample', Ample;
        box-shadow: 5px 5px 9px lightblue;
    }

    #button-s-notice :hover {
        font-size: 23px;
        align-items: center;
        text-align: center;
        background-color: #d8f4ff;
        border: 1px solid #d8f4ff;
        margin-top: 9px;
        margin-left: 130px;
        width: 100px;
        height: 47px;
        color: #34ac58;
        font-family: 'Ample', Ample;
        box-shadow: 5px 5px 9px lightblue;
    }
}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1200px) {

    header {
        position: fixed;
        width: 100%;
        height: 90px;
        background-color: white;
        justify-items: center;
        align-items: center;
        display: flex;
        right: 0px;
    }

    .header-left {
        float: left;
        position: static;
        margin-top: -10px;
    }

    .header-right {
        float: right;
        position: static;
    }

    body {
        background-image: linear-gradient(to bottom right,
                #2ba4bf, #33ac79);
    }


    .card {
        justify-items: center;
        align-items: center;
        top: -17px;
        border: 1px solid;
        width: 900px;
        margin: 150px;
        left: -130px;
        height: 430px;
        box-shadow: 5px 5px 9px #5f7279;
    }

    .card-right {
        margin-left: 300px;
        margin-top: -210px;
    }

    #img-logo-s1 {
        width: 130px;
        height: 60px;
        margin: 30px;
    }

    #img-notice-s1 {
        width: 390px;
        margin-right: 490px;
        margin-top: 30px;
    }

    #form-notice-s {
        width: 410px;
        height: 300px;
        margin-right: -30px;
        margin-top: -110px;
    }

    .label-s {
        font-size: 23px;
        color: #043c74;
        text-align: left;
        font-family: 'Ample', Ample;
        padding: 2px;
        font-weight: bold;
    }

    #input-notice {
        border-radius: 4px;
        font-size: 23px;
        width: 430px;
        height: 200px;
        padding: 2px;
    }

    #button-notice-s {
        font-size: 23px;
        align-items: center;
        text-align: center;
        background-color: #34ac58;
        border: 1px solid #34ac58;
        margin-top: 9px;
        margin-left: 170px;
        width: 100px;
        height: 47px;
        color: white;
        font-family: 'Ample', Ample;
        box-shadow: 5px 5px 9px lightblue;
    }

    #button-notice-s :hover {
        font-size: 23px;
        align-items: center;
        text-align: center;
        background-color: #d8f4ff;
        border: 1px solid #d8f4ff;
        margin-top: 9px;
        margin-left: 170px;
        width: 100px;
        height: 47px;
        color: #34ac58;
        font-family: 'Ample', Ample;
        box-shadow: 5px 5px 9px lightblue;
    }
}

@media only screen and (min-device-width : 1200px) and (max-device-width : 1400px) {

    header {
        position: fixed;
        width: 100%;
        height: 90px;
        background-color: white;
        justify-items: center;
        align-items: center;
        display: flex;
        right: 0px;
    }

    .header-left {
        float: left;
        position: static;
        margin-top: -10px;
    }

    .header-right {
        float: right;
        position: static;
    }

    body,
    html {
        background-image: linear-gradient(to bottom right,
                #2ba4bf, #33ac79);
    }

    .card {
        justify-items: center;
        align-items: center;
        top: 70px;
        border: 1px solid;
        width: 900px;
        margin: 150px;
        height: 430px;
        box-shadow: 5px 5px 9px #5f7279;
    }

    .card-right {
        margin-left: 300px;
        margin-top: -210px;
    }

    #img-logo-s1 {
        width: 130px;
        height: 60px;
        margin: 30px;
    }

    #img-notice-s1 {
        width: 390px;
        margin-right: 490px;
        margin-top: 30px;
    }

    #form-notice-s {
        width: 410px;
        height: 300px;
        margin-right: -30px;
        margin-top: -110px;
    }

    .label-s {
        font-size: 23px;
        color: #043c74;
        text-align: left;
        font-family: 'Ample', Ample;
        padding: 2px;
        font-weight: bold;
    }

    #input-notice {
        border-radius: 4px;
        font-size: 23px;
        width: 430px;
        height: 200px;
        padding: 2px;
    }

    #button-notice-s {
        font-size: 23px;
        align-items: center;
        text-align: center;
        background-color: #34ac58;
        border: 1px solid #34ac58;
        margin-top: 9px;
        margin-left: 150px;
        width: 100px;
        height: 47px;
        color: white;
        font-family: 'Ample', Ample;
        box-shadow: 5px 5px 9px lightblue;
    }

    #button-notice-s :hover {
        font-size: 23px;
        align-items: center;
        text-align: center;
        background-color: #d8f4ff;
        border: 1px solid #d8f4ff;
        margin-top: 9px;
        margin-left: 150px;
        width: 100px;
        height: 47px;
        color: #34ac58;
        font-family: 'Ample', Ample;
        box-shadow: 5px 5px 9px lightblue;
    }
}

@media only screen and (min-device-width : 1400px) and (max-device-width : 2000px) {

    header {
        position: fixed;
        width: 100%;
        height: 90px;
        background-color: white;
        justify-items: center;
        align-items: center;
        display: flex;
        right: 0px;
    }

    .header-left {
        float: left;
        position: static;
        margin-top: -10px;
    }

    .header-right {
        float: right;
        position: static;
    }

    body,
    html {
        background-image: linear-gradient(to bottom right,
                #2ba4bf, #33ac79);
    }

    .card {
        justify-items: center;
        align-items: center;
        top: 70px;
        border: 1px solid;
        width: 900px;
        margin: 150px;
        height: 430px;
        box-shadow: 5px 5px 9px #5f7279;
    }

    .card-right {
        margin-left: 300px;
        margin-top: -210px;
    }

    #img-logo-s1 {
        width: 130px;
        height: 60px;
        margin: 30px;
    }

    #img-notice-s1 {
        width: 390px;
        margin-right: 490px;
        margin-top: 30px;
    }

    #form-notice-s {
        width: 410px;
        height: 300px;
        margin-right: -30px;
        margin-top: -110px;
    }

    .label-s {
        font-size: 23px;
        color: #043c74;
        text-align: left;
        font-family: 'Ample', Ample;
        padding: 2px;
        font-weight: bold;
    }

    #input-notice {
        border-radius: 4px;
        font-size: 23px;
        width: 430px;
        height: 200px;
        padding: 2px;
    }

    #button-notice-s {
        font-size: 23px;
        align-items: center;
        text-align: center;
        background-color: #34ac58;
        border: 1px solid #34ac58;
        margin-top: 9px;
        margin-left: 170px;
        width: 100px;
        height: 47px;
        color: white;
        font-family: 'Ample', Ample;
        box-shadow: 5px 5px 9px lightblue;
    }

    #button-notice-s :hover {
        font-size: 23px;
        align-items: center;
        text-align: center;
        background-color: #d8f4ff;
        border: 1px solid #d8f4ff;
        margin-top: 9px;
        margin-left: 170px;
        width: 100px;
        height: 47px;
        color: #34ac58;
        font-family: 'Ample', Ample;
        box-shadow: 5px 5px 9px lightblue;
    }
}